@model AuditEventBase
@{
    var auditEvent = Model;
}

<div class="level">
    <div class="level-left">
        <span class="icon-text">
            <span class="icon">
                <partial name="Shared/_SmallAvatar" model="auditEvent.Actor"/>
            </span>
            <span class="has-tooltip-arrow is-hidden-mobile" data-tooltip="@auditEvent.Actor.DisplayName (@auditEvent.Actor.PlatformUserId)">
                <strong>@auditEvent.Actor.DisplayName</strong>
            </span>
        </span>
        <span class="description">
            &nbsp;
            <partial name="Shared/Activity/_SimpleDescription" model="auditEvent" />
        </span>
    </div>
    <div class="level-right has-text-grey">
        <timeago datetime="@auditEvent.Created"></timeago>
    </div>
</div>
