#my-bot {
  .basic-examples, .follow-ups {
    code {
      color: #000;
      font-weight: bold !important;
      font-size: 0.9em !important;
      background-color: inherit !important;
      padding: 0 !important;
    }
  }

  .whats-next {
    background-color: #eee !important;
  }
}