<div class="flex">
    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 0" type="checkbox"/>
        Sun
    </label>

    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 1" type="checkbox"/>
        Mon
    </label>

    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 2" type="checkbox"/>
        Tue
    </label>

    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 3" type="checkbox"/>
        Wed
    </label>

    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 4" type="checkbox"/>
        Thu
    </label>

    <label class="checkbox mr-3">
        <input name="day" class="modal-value" value="* * * * 5" type="checkbox"/>
        Fri
    </label>

    <label class="checkbox">
        <input name="day" class="modal-value" value="* * * * 6" type="checkbox"/>
        Sat
    </label>
</div>
