<footer class="flex flex-col m-8 items-center">
    <nav>
        <ul class="lg:flex items-center justify-center gap-x-4 text-sm text-gray-500">
            <li>
                <a asp-page="/Index"><img class="inline-block" src="/img/abbot-avatar-small.png" width="24" alt="Abbot robot logo" /></a>
                <a href="https://aseriousbusiness.com/">&copy; A Serious Business, Inc.</a>
            </li>
            <li><a href="https://aseriousbusiness.com/">About Us</a> </li>
            <li><a href="/about/policy/terms">Terms</a></li>
            <li><a href="/about/policy/privacy">Privacy</a></li>
            <li><a href="https://docs.ab.bot">Help</a></li>
            <li><a href="https://ab.bot/blog">Blog</a></li>
            <li><a asp-page="/Packages/Index">Packages</a></li>
            <li><a href="mailto:@WebConstants.SupportEmail">Contact Us</a></li>
        </ul>
    </nav>
</footer>
