@{
    var org = ViewContext.HttpContext.GetCurrentOrganization();
    if (org is null)
    {
        return;
    }
}

<plan features="ConversationTracking" negate="true">
    <div class="flex items-center gap-3 p-4 mb-4 rounded-lg bg-yellow-50 border border-yellow-200">
        <i class="fa-regular fa-circle-info"></i>
        <div class="flex flex-col">
            <p class="font-semibold">Your organization is on the @org.GetPlan().Name Plan, which does not include Conversation Tracking.</p>
            @if (User.IsAdministrator()) {
                <p>This data may be out of date unless you upgrade your plan.</p>
            }
            else {
                <p>This data may be out of date unless an Administrator upgrades your account to a paid plan.</p>
            }
        </div>
        
        @if (User.IsAdministrator()) {
            <a class="btn btn-primary ml-auto shrink-0" asp-page="/Settings/Organization/Billing/Index">Upgrade plan</a>
        }
    </div>
</plan>
