<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local-packages" value="packages" />
    </packageSources>
    <packageSourceMapping>
        <!-- 
            Required when using NuGet Central Package Management (CPM).
            We use this to tell NuGet which packages to get from which source.
            Docs: https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
        -->
        <packageSource key="local-packages">
            <package pattern="Serious.Ink.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
