<div class="bg-yellow-100 border-yellow-200 p-2 m-3 flex justify-center gap-x-6">
    <p>
        <i class="fa-regular fa-triangle-exclamation"></i>
        <strong>Your organization does not have enough seats to add another Agent.</strong>
        You can purchase more seats in the <a asp-page="/settings/organization/billing">Billing</a> page.
        Otherwise <a asp-page="/Settings/Organization/Users/Index">remove users from the Agent role</a> to free up seats.
    </p>
</div>
