@model InsightResponderConversationVolumeViewModel

@if (Model is { Responders.Count: >0 }) {
    foreach (var responder in Model.Responders) {
        var tooltip = responder.AssignedFirstResponderRooms is {Count: 0}
            ? "Not a first responder"
            : string.Join("\n", responder.AssignedFirstResponderRooms);
         <div class="flex items-center my-2">
             <div class="flex items-center" data-tooltip="@tooltip">
                 <img src="@responder.Avatar.Url" class="rounded-full w-9" alt="Avatar for first responder user @@@responder.Name"/>
                 <div class="ml-2">
                     <div>@@@responder.Name</div>
                     <p class="text-gray-500 text-sm">First responder in @responder.AssignedFirstResponderRooms.Count.ToQuantity("room")</p>
                 </div>
             </div>
             
             <div class="flex items-center ml-auto">
                 <p class="text-sm text-gray-500 font-mono" aria-label="Number of conversations">@responder.Count</p>
             </div>
         </div>
    }
} else {
    <div class="flex flex-col justify-center items-center bg-slate-50 border border-slate-100 rounded-lg text-slate-900 p-4">
        <h1 class="font-medium loading">No data yet</h1>
        <p>Check back in a few days</p>
    </div>
}
