@page "{handler?}"
@model Serious.Abbot.Pages.Settings.Organization.Integrations.Zendesk.CredentialsPage

@{
    ViewContext.SetPageInfo("Integrations", "Zendesk Credentials");
}

<partial name="../_Header" model="Model.Viewer"/>
<partial name="Shared/_StatusMessage" model="Model.StatusMessage"/>

<page-body>
    <round-box>
        <div class="font-semibold">
            <a asp-page="../Index">Integrations</a> /
            <a asp-page="Index">Zendesk</a> /
            Credentials
        </div>
        <p>
            Abbot uses <a target="_blank" href="https://support.zendesk.com/hc/en-us/articles/4408845965210-Using-OAuth-authentication-with-your-application">OAuth 2.0</a> to authenticate with Zendesk.
        </p>
        <form asp-page="Credentials" method="post" class="flex flex-col items-start">
            <label class="mt-4 font-semibold">Subdomain</label>
            <p class="text-sm mb-2">The subdomain for your Zendesk account.</p>
            <div class="flex">
                <input class="form-input-split w-64" asp-for="Subdomain">
                <span class="border-r border-t border-b rounded-tr-lg rounded-br-lg bg-gray-50 py-1 pl-1 border-l w-32">.zendesk.com</span>
            </div>
            <span asp-validation-for="Subdomain"></span>
            @if (Model.IsInstalled) {
                <button type="submit" data-confirm="Warning: By changing the subdomain, the existing integration will be uninstalled and disabled. You'll have to reinstall to continue using the Zendesk integration." class="btn btn-primary mt-4">Save</button>
            } else {
                <button type="submit" class="btn btn-primary mt-4">Save</button>
            }
        </form>
    </round-box>
</page-body>
