@page "{handler?}"
@model Serious.Abbot.Pages.Settings.Organization.Integrations.Zendesk.IndexPage

@{
    ViewContext.SetPageInfo("Integrations", "Zendesk", "Zendesk Settings");
}

<partial name="../_Header" model="Model.Viewer"/>
<partial name="Shared/_StatusMessage" model="Model.StatusMessage"/>

<page-body>
    <round-box>
        <div class="font-semibold">
            <a asp-page="../Index">Integrations</a> / Zendesk
        </div>

        <section class="mt-5">
            <h2 class="text-3xl">Zendesk Integration</h2>
            <p>
                Integrate with a Zendesk account to allow your team to create Zendesk tickets from Slack Conversations.
                Abbot will monitor replies in Slack and in Zendesk and keep them in sync.
                For more information, check out <a href="https://docs.ab.bot/convos/integrations-zendesk.html">our documentation</a>.
            </p>

            @if (!Model.Organization.HasPlanFeature(PlanFeature.ConversationTracking)) {
                <div class="bg-red-100 border-yellow-200 p-2 flex justify-center gap-x-6">
                    Your trial has expired. This integration is disabled until you upgrade your plan.
                </div>
            }
            else if (!Model.IsInstalled) {
                <div class="bg-yellow-100 border-yellow-200 p-2 flex justify-center gap-x-6">
                    The Zendesk integration is not fully installed. Replies may not sync properly until you resolve the issues below.
                </div>
            } else if (!Model.IsEnabled) {
                <div class="bg-yellow-100 border-yellow-200 p-2 flex justify-center gap-x-6">
                    The Zendesk integration is not enabled.
                </div>
            } else {
                <div class="bg-green-200 p-2 flex justify-center gap-x-6">
                    The Zendesk integration is active.
                </div>
            }

            <h3 class="text-2xl mt-4">Status</h3>
            <div class="mt-4 grid items-center gap-2 w-max" style="grid-template-columns: 1fr 1rem min-content;">
                <div>Authentication Configured:</div>
                @if (Model.HasSubdomain) {
                    <i class="fa fa-check text-green-500"></i>
                    <a asp-page="Credentials" class="btn">Edit</a>
                } else {
                    <i class="fa fa-xmark text-red-500"></i>
                    <a asp-page="Credentials" asp-route-editing="true" class="btn">Configure</a>
                }
                <div>Installed:</div>
                @if (Model.IsInstalled) {
                    <i class="fa fa-check text-green-500"></i>
                    <div class="flex flex-row gap-x-2">
                        <a data-confirm="Only a Zendesk admin will be able to reinstall the integration. Are you sure you want to reinstall it?" asp-controller="Zendesk" asp-action="Install" asp-route-organizationId="@Model.Organization.Id" class="btn">Reinstall</a>
                        <form asp-page-handler="Uninstall" method="post">
                            <button type="submit" class="btn btn-danger" data-confirm="Warning! By doing this, the Zendesk integration will be disabled.">Uninstall</button>
                        </form>
                    </div>
                } else {
                    <i class="fa fa-xmark text-red-500"></i>
                    @if (Model.HasSubdomain) {
                        <a data-confirm="Only a Zendesk admin will be able to install the integration. Are you sure you want to install it?" asp-controller="Zendesk" asp-action="Install" asp-route-organizationId="@Model.Organization.Id" class="btn">Install</a>
                    } else {
                        @* Need a div to complete the grid *@
                        <div></div>
                    }
                }
                <div>Enabled:</div>
                @if (Model.IsEnabled) {
                    <i class="fa fa-check text-green-500"></i>
                    <form asp-page-handler="Disable" method="post">
                        <button type="submit" class="btn btn-danger w-full" data-confirm="Are you sure you want to disable the integration? Your Zendesk credentials will NOT be cleared, but we'll stop syncing Conversations with Zendesk.">Disable</button>
                    </form>
                } else {
                    <i class="fa fa-xmark text-red-500"></i>
                    @if (Model.IsInstalled) {
                        <form asp-page-handler="Enable" method="post">
                            <button type="submit" class="btn btn-primary w-full">Enable</button>
                        </form>
                    } else {
                        @* Need a div to complete the grid *@
                        <div></div>
                    }
                }
            </div>
        </section>
    </round-box>
</page-body>
