@page
@{
    ViewContext.SetPageInfo("Account", "Icons");
}
<page-body>
    <table>
        <tr>
            <td>
                <i class="far fa-align-slash"></i>
                <i class="fal fa-arrow-left"></i>
                <i class="far fa-bars"></i>
                <i class="far fa-building"></i>
                <i class="far fa-calendar"></i>
                <i class="fa fa-caret-down"></i>
                <i class="fas fa-chart-bar"></i>
                <i class="fal fa-check"></i>
                <i class="fas fa-check-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="far fa-clipboard"></i>
                <i class="far fa-code"></i>
                <i class="far fa-comment-slash"></i>
                <i class="far fa-door-open"></i>
                <i class="fas fa-download"></i>
                <i class="fa fa-exclamation-triangle"></i>
                <i class="fa fa-external-link"></i>
                <i class="far fa-external-link-alt"></i>
                <i class="fas fa-eye"></i>
                <i class="fas fa-eye-slash"></i>
                <i class="far fa-file-alt"></i>
                <i class="fas fa-flag-alt"></i>
                <i class="far fa-game-board"></i>
                <i class="fa fa-gear"></i>
                <i class="fas fa-home"></i>
                <i class="fas fa-history"></i>
                <i class="fa fa-info-circle"></i>
                <i class="far fa-lightbulb"></i>
                <i class="far fa-lightbulb-slash"></i>
                <i class="far fa-lock"></i>
                <i class="far fa-play-circle"></i>
                <i class="fal fa-question-circle"></i>
                <i class="far fa-sign-in"></i>
                <i class="far fa-sign-out"></i>
                <i class="far fa-signal-stream"></i>
                <i class="fa fa-spinner"></i>
                <i class="far fa-times"></i>
                <i class="far fa-times-circle"></i>
                <i class="far fa-ticket"></i>
                <i class="fas fa-upload"></i>
                <i class="far fa-user-cog"></i>
                <i class="far fa-users"></i>
                <i class="far fa-users-cog"></i>
                <i class="far fa-user-slash"></i>
                <i class="far fa-wand-magic"></i>
                <i class="fad fa-wifi connected"></i>
                <i class="fas fa-wifi-slash disconnected"></i>
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-regular fa-align-slash"></i>
                <i class="fa-light fa-arrow-left"></i>
                <i class="fa-regular fa-bars"></i>
                <i class="fa-regular fa-building"></i>
                <i class="fa-regular fa-calendar"></i>
                <i class="fa-solid fa-caret-down"></i>
                <i class="fa-solid fa-chart-bar"></i>
                <i class="fa-light fa-check"></i>
                <i class="fa-solid fa-circle-check"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-regular fa-clipboard"></i>
                <i class="fa-regular fa-code"></i>
                <i class="fa-regular fa-comment-slash"></i>
                <i class="fa-regular fa-door-open"></i>
                <i class="fa-solid fa-download"></i>
                <i class="fa-solid fa-triangle-exclamation"></i>
                <i class="fa-solid fa-up-right-from-square"></i>
                <i class="fa-regular fa-up-right-from-square"></i>
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash"></i>
                <i class="fa-regular fa-file-lines"></i>
                <i class="fa-solid fa-flag-swallowtail"></i>
                <i class="fa-regular fa-game-board"></i>
                <i class="fa-solid fa-gear"></i>
                <i class="fa-solid fa-house"></i>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <i class="fa-solid fa-circle-info"></i>
                <i class="fa-regular fa-lightbulb"></i>
                <i class="fa-regular fa-lightbulb-slash"></i>
                <i class="fa-regular fa-lock"></i>
                <i class="fa-regular fa-circle-play"></i>
                <i class="fa-light fa-circle-question"></i>
                <i class="fa-regular fa-arrow-right-to-bracket"></i>
                <i class="fa-regular fa-arrow-right-from-bracket"></i>
                <i class="fa-regular fa-signal-stream"></i>
                <i class="fa-solid fa-spinner"></i>
                <i class="fa-regular fa-xmark"></i>
                <i class="fa-regular fa-circle-xmark"></i>
                <i class="fa-regular fa-ticket"></i>
                <i class="fa-solid fa-upload"></i>
                <i class="fa-regular fa-user-gear"></i>
                <i class="fa-regular fa-users"></i>
                <i class="fa-regular fa-users-gear"></i>
                <i class="fa-regular fa-user-slash"></i>
                <i class="fa-regular fa-wand-magic"></i>
                <i class="fa-solid fa-wifi connected"></i>
                <i class="fa-solid fa-wifi-slash disconnected"></i>
            </td>
        </tr>
    </table>
</page-body>
