@page "/about/policy/acceptable-use"

@{
    Layout = "Shared/Layouts/_Layout";
    ViewContext.SetPageInfo("Policies", "Acceptable Use", "Acceptable Use Policy");
}

<page-header>
    Acceptable Use Policies
</page-header>
<page-body>
    <round-box class="flex flex-col gap-2">
        <p>
            <strong>Short version:</strong> <em>While using the Service, you must comply with our Acceptable Use Policies, which include some restrictions on content you can post, conduct on the service, and other limitations. In short, be excellent to each other.</em>
        </p>
        <p>Capitalized terms used but not defined in these Acceptable Use Policies have the meanings assigned to them in our <a asp-page="Terms/Index">Terms of Service</a>, <a asp-page="Terms/Corporate">Corporate Terms of Service</a>, and <a asp-page="Privacy/Index">Privacy Statement</a>. For customers subject to the <a asp-page="Terms/Corporate">Corporate Terms of Service</a>, &quot;you&quot; and &quot;your&quot; refer to &quot;Customer&quot; or &quot;Users&quot;. &quot;We&quot;, &quot;us&quot;, &quot;our&quot; refer to &quot;Haacked LLC&quot;.</p>
        <h2 class="font-semibold text-xl mt-4" id="1-compliance-with-laws-and-regulations">1. Compliance with Laws and Regulations</h2>
        <p>You are responsible for using the Service in compliance with all applicable laws, regulations, and all of our Acceptable Use Policies. These policies may be updated from time to time and are provided below, as well as in our <a asp-page="Terms/Index">Terms of Service</a> and <a asp-page="Terms/Corporate">Corporate Terms of Service</a>.</p>
        <h2 class="font-semibold text-xl mt-4" id="2-content-restrictions">2. Content Restrictions</h2>
        <p>Under no circumstances will Users upload, post, host, or transmit any Content to any repositories that:</p>
        <ul class="list-disc list-inside">
            <li>is unlawful or promotes unlawful activities;</li>
            <li>is or contains sexually obscene content;</li>
            <li>is libelous, defamatory, or fraudulent;</li>
            <li>is discriminatory or abusive toward any individual or group;</li>
            <li>gratuitously depicts or glorifies violence, including violent images;</li>
            <li>contains or installs any active malware or exploits, or uses our platform for exploit delivery (such as part of a command and control system); or</li>
            <li>infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.</li>
        </ul>
        <h2 class="font-semibold text-xl mt-4" id="3-conduct-restrictions">3. Conduct Restrictions</h2>
        <p>While using the Service, under no circumstances will you:</p>
        <ul class="list-disc list-inside">
            <li>harass, abuse, threaten, or incite violence towards any individual or group, including our employees, officers, and agents, or other users;</li>
            <li>use our servers for any form of excessive automated bulk activity (for example, spamming), or relay any other form of unsolicited advertising or solicitation through our servers, such as get-rich-quick schemes;</li>
            <li>attempt to disrupt or tamper with our servers in ways that could harm our Service, to place undue burden on our servers through automated means, or to access the Service in ways that exceed your authorization;</li>
            <li>impersonate any person or entity, including any of our employees or representatives, including through false association with Haacked LLC, or by fraudulently misrepresenting your identity or site&#39;s purpose; or</li>
            <li>violate the privacy of any third party, such as by posting another person&#39;s personal information without consent.</li>
        </ul>
        <h2 class="font-semibold text-xl mt-4" id="4-services-usage-limits">4. Services Usage Limits</h2>
        <p>You will not reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without our express written permission.</p>
        <h2 class="font-semibold text-xl mt-4" id="5-scraping-and-api-usage-restrictions">5. Scraping and API Usage Restrictions</h2>
        <p>Scraping refers to extracting data from our Service via an automated process, such as a bot or webcrawler. It does not refer to the collection of information through our API. Please see Section H of our <a href="terms">Terms of Service</a> and <a href="terms/corporate">Corporate Terms of Service</a> for our API Terms.</p>
        <p>You may not scrape the Service for any reason. Instead, use available tools to export Customer data as needed from within the website.</p>
        <h2 class="font-semibold text-xl mt-4" id="6-privacy">6. Privacy</h2>
        <p>Misuse of User Personal Information is prohibited.</p>
        <p>Any person, entity, or service collecting data from the Service must comply with the <a href="privacy">Haacked LLC Privacy Statement</a>, particularly in regards to the collection of User Personal Information. If you collect any User Personal Information from the Service, you agree that you will only use that User Personal Information for the purpose for which that User has authorized it. You agree that you will reasonably secure any User Personal Information you have gathered from the Service, and you will respond promptly to complaints, removal requests, and &quot;do not contact&quot; requests from us or other users.</p>
        <h2 class="font-semibold text-xl mt-4" id="7-excessive-bandwidth-use">7. Excessive Bandwidth Use</h2>
        <p>If we determine your bandwidth usage to be significantly excessive in relation to other users, we reserve the right to suspend your Account or throttle your file hosting until you can reduce your bandwidth consumption.</p>
        <h2 class="font-semibold text-xl mt-4" id="8-user-protection">8. User Protection</h2>
        <p>You must not engage in activity that significantly harms other users. We will resolve disputes in favor of protecting users as a whole.</p>
    </round-box>
</page-body>
