@model Serious.Abbot.Pages.Activity.DetailsModel

@{
  var auditEvent = Model.AuditEvent as SkillSecretEvent
        ?? throw new InvalidOperationException($"AuditEvent is not a {nameof(SkillSecretEvent)}.");
}

<div class="p-4">
  <header>
    <h1 class="mb-2 text-gray-500">Summary</h1>
  </header>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div>
      <partial name="Shared/Activity/_OccurrenceDetails" model="auditEvent"/>
    </div>

    <div>
      <h2 class="font-bold text-sm mb-1">Type</h2>
      <div>
        Skill Secret
      </div>
    </div>
    
    <div>
      <h2 class="font-bold text-sm mb-1">Actor</h2>
      <div>
        <partial name="Shared/Activity/_UserDetail" model="@auditEvent.Actor" />
      </div>
    </div>
    
    <div>
      <h2 class="font-bold text-sm mb-1">Skill</h2>
      <div>
        <partial name="Shared/Activity/_SkillDetails" />
      </div>
    </div>
    
    <div>
      <h2 class="font-bold text-sm mb-1">Secret Name</h2>
      <div>
        @auditEvent.SecretName
      </div>
    </div>
    
    <div>
      <h2 class="font-bold text-sm mb-1">Description</h2>
      <div>
        @auditEvent.SecretDescription
      </div>
    </div>
    
  </div>
</div>

<div class="p-4 border-t">
  <header>
    <h1 class="mb-2 text-gray-500">Additional Details</h1>
  </header>

  <div>
    <h2 class="font-bold text-sm mb-1">Description</h2>
    <div>
      <p>@auditEvent.Description</p>
    </div>
  </div>
</div>