:root {
  --tab-color: #586069;
  --tab-color-selected: #24292e;
  --tab-border-color-selected: #d1d5da;
  --tab-bg-color: #f6f8fa;
  --border-gray-dark: #24292e;
  --border-gray-medium: #d1d5da;
  --border-gray-light: #e1e4e8;
  --tab-light-bg-color: #fafbfc;
}

.markdown-editor {
  border-radius: 3px;
  display: block;
  margin-top: 0;
  padding-bottom: 8px;
  box-sizing: border-box;
  border: 1px var(--border-gray-light) solid !important;

  .markdown-editor-header {
    background-color: var(--tab-bg-color);
    margin-top: 0;
    margin-bottom: 8px !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    border-color: var(--border-gray-medium) !important;
    box-sizing: border-box;
    align-items: center !important;
    flex-direction: row !important;
    border-bottom: 1px var(--border-gray-light) solid !important;

    .markdown-editor-tabs {
      z-index: 1;
      display: flex !important;
      flex: auto !important;
      white-space: nowrap !important;
      box-sizing: border-box;
      margin: 8px 8px -1px 8px !important;
    }
  }

  .write-content {
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 8px 0 8px;

    textarea {
      display: block;
      width: 100%;
      border: none;
      border-radius: .25rem;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }

  .has-preview[data-selected-tab='preview'] {
    .material-icons {
      visibility: hidden !important;
    }
  }
  
  .preview-panel {
    &:focus {
      border: none;
      outline: none;
    }

    .preview-content {
      padding: 8px 8px 16px;
      border: solid 1px #eef4fa;
      border-radius: 4px;
      margin: 0 8px;
    }
  }
  
  .markdown-toolbar {
    background-color: transparent;
    display: flex !important;
    white-space: nowrap !important;
    padding-top: 0 !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    align-items: flex-start !important;
    flex-wrap: wrap !important;

    * {
      tab-index: -1;
    }

    .material-icons {
      font-size: 24px;
      padding: .25rem .5rem;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:hover {
        background: darken(#f6f8fa, 5%)
      }
      
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 1080px) {
        font-size: 18px;
      }
      @media (max-width: 1040px) {
        font-size: 16px;
      }
      @media (max-width: 992px) {
        font-size: 20px;
      }
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  .markdown-editor-tab {
    border: none;
    border-radius: 0;
    background: transparent;
    color: var(--tab-color);
    display: inline-block;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    padding: 8px 16px 8px 16px !important;
    flex: auto !important;
    
    &:hover {
      background: darken(#f6f8fa, 5%)
    }

    &.selected,
    &[aria-selected=true],
    &[aria-current] {
      border-top: solid 1px var(--border-gray-dark);
      border-left: solid 1px var(--border-gray-dark);
      border-right: solid 1px var(--border-gray-dark);
      color: var(--tab-color-selected);
      background-color: #fff;
      border-color: var(--tab-border-color-selected);
      border-radius: 3px 3px 0 0;

      &:hover {
        background: darken(#fff, 5%)
      }
    }

    &:focus {
      color: #000;
      outline: none;
    }
  }
}
