@page "{id:int}"
@model Serious.Abbot.Pages.Tasks.EditPage
@{
    ViewContext.SetPageInfo("Tasks", "Edit Task");
}

<partial name="Shared/_StatusMessage" model="Model.StatusMessage"/>
<partial name="Shared/_ReadOnlyHeader" />

<page-header>
    Edit Task
    <span class="preview-pill text-lg">
        Preview
    </span>
</page-header>

<page-body>
    <form method="post">
        <section class="py-2 px-4">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-4">
                <label class="font-bold" asp-for="Input.Title"></label>
                <p class="text-sm text-gray-500 mb-1">
                    *Required.
                </p>
                <input class="form-input w-full" asp-for="Input.Title" />
                <span asp-validation-for="Input.Title"></span>
            </div>

            <div class="mb-4">
                <label class="font-bold" asp-for="Input.CustomerId"></label>
                <p>
                    <select class="form-select" asp-for="Input.CustomerId" asp-items="Model.CustomerOptions"></select>
                </p>
                <span asp-validation-for="Input.CustomerId"></span>
            </div>
            <div class="mb-4">
                <label class="font-bold" asp-for="Input.Status"></label>
                <p>
                    <select class="form-select" asp-for="Input.Status" asp-items="Html.GetEnumSelectList<TaskItemStatus>()"></select>
                </p>
                <span asp-validation-for="Input.Status"></span>
            </div>

            <div class="mb-4">
                <input type="hidden" asp-for="Input.Assignee" />
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-page="Index" class="btn">Back</a>
            </div>

        </section>
    </form>

</page-body>