@model IReadOnlyList<string>
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using Serious.Abbot.Infrastructure.Telemetry
@inject IOptions<AnalyticsOptions> Analytics
@inject IConfiguration Config

@{
    Layout = null;

    // This page allows anonymous access so we need to create our own layout.
}

<!DOCTYPE html>

<html class="h-full">
<head>
    <title>Abbot Playbook - Customer Info Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Abbot gives your team Slack Ops tools to manage and scale conversations in Slack Connect channels.">
    <meta name="ai-connection-string" content="@(Config.GetValue<string>("ApplicationInsights:ConnectionString"))">
    <meta name="segment-write-key" content="@Analytics.Value.SegmentWriteKey">
    <link rel="apple-touch-icon" sizes="180x180" href="~/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/ico/favicon-16x16.png">
    <link rel="manifest" href="~/ico/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/css/main.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/ff2f030d73.js" crossorigin="anonymous"></script>
</head>
<body class="bg-indigo-50 h-full">
<page-body class="flex items-center justify-center p-8">
    @if (ViewContext.HttpContext.Request.Method == "POST") {
            
        <div class="p-6 min-w-[400px] shadow-sm border border-indigo-200 rounded-2xl flex flex-col items-center gap-2 bg-white">
            <i class="far fa-check-circle text-2xl text-green-600"></i> 
            Customer successfully submitted
        </div>
    } else {
        <h1 class="font-semibold text-2xl">
            Customer information
        </h1>
            
        <form method="post" class="p-6 min-w-[400px] shadow-sm border border-indigo-200 rounded-2xl flex flex-col gap-4 bg-white">
            <div>
                <label>
                    <span class="font-semibold">
                        Customer Name
                    </span>
                    <br>
                    <input type="text" class="form-input w-full" name="customer.name"/>
                </label>
            </div>
            
            <div>
                <label>
                    <span class="font-semibold">
                        Customer Email
                    </span>
                    <br>
                    <input type="text" class="form-input w-full" name="customer.email"/>
                </label>
            </div>
            
            <div>
                <span class="font-semibold">
                    Customer Segments
                </span>
                <br>
                @if (Model.Any()) {
                    @foreach (var segment in Model) {
                        <label class="flex items-center gap-2">
                            <input type="checkbox" name="customer.segments" value="@segment"/>
                            @segment
                        </label>
                    }
                } else {
                    <p class="text-slate-500 text-sm">
                        Your organization has no customer segments
                    </p> 
                }
            </div>
            
            <div class="text-right mt-2">
                <input type="submit" class="btn btn-primary" value="Submit customer information"/>
            </div>
        </form>
    }
</page-body>
</body>
</html>