@page
@model Serious.Abbot.Pages.Status.CriticalPageModel

@{
    ViewContext.SetPageInfo("Status", "Critical");
}

<div>
    <h1>This page logs a Critical level log entry for Staff users.</h1>
    <p>You should see something in a few minutes show up in the #ops room.</p>
</div>

