@model (PlaybookRun Run, IDictionary<string, object> SuspendState)

<pill tooltip="The Playbook run will resume after a user approves or denies the request." color="Gray" icon="fa-spinner fa-spin-pulse">
    <span>
        Waiting on approval&hellip;
    </span>
</pill>
