@page "/skills/{skill}/secrets/{name}/delete"
@model Serious.Abbot.Pages.Skills.Secrets.DeletePageModel
@{
    ViewContext.SetPageInfo("Secrets", "Secret Delete", "Delete secret");
}
<div class="border border-red-300 sm:w-96 m-8 bg-white shadow mx-auto">
    <header class="p-2">
        <h1 class="bg-red-500 text-white px-2">
            Delete secret <span class="font-bold">@Model.SecretName</span> for skill <span class="font-bold">@Model.SkillName</span>?
        </h1>
    </header>

    <form class="p-2" method="post">
        <p class="mx-2">
            Deleting this secret will immediately make it unavailable to all
            skills that use it.
        </p>

        <div class="flex items-center mt-4">
            <skillbacklink class="btn"/>
            <button class="btn btn-danger ml-auto">Confirm Delete</button>
        </div>
    </form>
</div>
