@page "/skills/{skill}/secrets/{name}/edit"
@model Serious.Abbot.Pages.Skills.Secrets.EditPageModel
@{
    ViewContext.SetPageInfo("Secrets", "Secret Edit", "Edit secret");
}
<div class="mx-auto my-2">
    <section class="border border-gray-200 mx-1 mt-2 sm:mt-0">
        <header class="px-2 m-2 bg-blue-50">
            <h1 class="text-sm">
                Edit secret for
                <span class="font-bold">
                    @Model.SkillName
                </span>
            </h1>
        </header>

        <section class="m-4">
            <div asp-validation-summary="ModelOnly"></div>

            <form method="post" id="">
                <div class="mb-4">
                    <div class="mb-1">
                        <label class="form-label block mb-0" asp-for="Input.Name"></label>
                        <description class="block text-gray-500" asp-for="Input.Name"/>
                    </div>

                    <div>
                        <input class="form-input" asp-for="Input.Name"/>
                    </div>

                    <div class="text-sm">
                        <span class="text-sm" asp-validation-for="Input.Name"></span>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="mb-1">
                        <label class="form-label block mb-0" asp-for="Input.Value">New secret value</label>
                        <description class="block text-gray-500" asp-for="Input.Value" />
                    </div>

                    <input class="flex-grow bg-transparent pl-1" type="password" asp-for="Input.Value" />

                    <div class="text-sm">
                        <span asp-validation-for="Input.Value"></span>
                    </div>
                </div>

                <div>
                    <div class="mb-1">
                        <label class="form-label mb-0" asp-for="Input.Description"></label>
                        <description class="text-gray-500" asp-for="Input.Description"></description>
                    </div>
                    <div>
                        <input class="form-input w-full" asp-for="Input.Description"/>
                        <span asp-validation-for="Input.Description"></span>
                    </div>
                </div>

                <div class="mt-8 flex items-center">
                    <skilllink class="btn btn-danger" asp-page="Delete" asp-route-name="@Model.SecretName">
                        Delete
                    </skilllink>

                    <div class="ml-auto">
                        <skillbacklink class="btn"/>
                        <button class="ml-1 btn btn-primary">Update secret</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
</div>
