<nav class="sm:grid grid-cols-4 gap-4 my-2">
    <ul class="col-span-3 flex text-sm my-2">
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/Index" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa fa-screwdriver-wrench"></i> General
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/SlackEvents" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-brands fa-slack"></i> Slack
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/AppConfig" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-regular fa-circle-info"></i> App Config
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/Cleanup" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-light fa-soap"></i> Cleanup
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/AI" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-solid fa-robot"></i> AI
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/Queries" class="tabnav-btn" nav-active-class="tabnav-btn-active">
                <i class="fa-solid fa-timer"></i> Queries
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/Permissions" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-sharp fa-solid fa-shield-check"></i> Permissions
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Tools/Dumps" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-sharp fa-solid fa-memory"></i> Dumps
            </a>
        </li>
    </ul>
</nav>
