@using Serious.Abbot.Playbooks;
@using Serious.AspNetCore.TagHelpers
@model ViewPlaybookPage

@{
    if (!Model.HasManualTrigger) { return; }

    if (Model.ManualTriggerEnabled) {
        <form method="post" class="inline">
            @{
                var message = Model.ManualDispatchType switch {
                    DispatchType.ByCustomer => "IMPORTANT: This will run this Playbook for every customer in the specified customer segments. Are you sure you want to do this?",
                    _ => null,
                    };
            }
            <button type="submit"
                    class="btn btn-primary has-tooltip-right"
                    asp-page-handler="RunPlaybook"
                    data-confirm="@message"
                    data-tooltip="@Model.ManualTriggerTooltip">
                <i class="fa-regular fa-circle-play"></i>
                Run Now
            </button>
        </form>
    } else {
        <button class="btn btn-disabled has-tooltip-right" disabled data-tooltip="@Model.ManualTriggerTooltip">
            <i class="fa-regular fa-circle-play"></i>
            Run Now
        </button>
    }
}
