@{
    Layout = "Layouts/_Layout";
    var organization = ViewContext.HttpContext.RequireCurrentOrganization();
}

<section class="my-4">
    <div class="flex items-center mb-5">
        <header class="text-gray-500 mr-2">Skills</header>
        <ul class="flex gap-2">
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" nav-exact-match asp-page="/Skills/Index">Custom</a>
            </li>
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" asp-page="/Lists/Index">Lists</a>
            </li>
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" asp-page="/Skills/BuiltIn">Built-in</a>
            </li>
        @if (organization.UserSkillsEnabled) {
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" asp-page="/Skills/Patterns/All">Patterns</a>
            </li>
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" asp-page="/Skills/Subscriptions/All">Signals</a>
            </li>
            <li>
                <a class="inline-block rounded-lg px-2 py-1 bg-gray-100 text-black hover:bg-gray-200" nav-active-class="bg-yellow-300" asp-page="/Packages/Index" data-hotkey="g p">Packages</a>
            </li>
        }
        </ul>
    </div>

    @RenderBody()
</section>
