@model Skill

<h1 class="text-sm">
    Secrets
</h1>
<a asp-page="Secrets/Index" aria-label="Manage secrets"
   class="bg-white m-1 ml-auto border border-gray-500 inline-flex text-gray-500 text-center p-0.5"
   asp-route-skill="@Model.Name">
    <i class="fa-solid fa-gear"></i>
</a>
