@page

@{
    Layout = "Shared/Layouts/_Layout";
    ViewContext.SetPageInfo("Policies", "Subprocessors", "Subprocessors");
}

<page-header>
    Abbot Subprocessors
</page-header>
<page-body>
    <round-box class="flex flex-col gap-2">
        <p>
            <strong>Effective date: August 26, 2019</strong>
        </p>
        <p>
            <em>Last updated date: March 8, 2023</em>
        </p>
        <p>Abbot uses third party subprocessors such as cloud computing providers and transactional email providers, to provide our services.</p>
        <p>When we share your information with third party subprocessors, we remain responsible for it. We require all vendors to be GDPR compliant.</p>
        <table class="table">
            <thead>
            <tr>
                <th>Subprocessor name</th>
                <th>Description of service</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>SendGrid</td>
                <td>Transactional mail services provider</td>
                <td>United States</td>
            </tr>
            <tr>
                <td>Slack</td>
                <td>Chat services</td>
                <td>United States</td>
            </tr>
            <tr>
                <td>Microsoft</td>
                <td>Compute Infrastructure and web hosting</td>
                <td>United States</td>
            </tr>
            <tr>
                <td>Microsoft</td>
                <td>Website analytics and performance</td>
                <td>United States</td>
            </tr>
            <tr>
                <td>Google Analytics</td>
                <td>Website analytics and performance</td>
                <td>United States</td>
            </tr>
            <tr>
                <td><a href="https://openai.com">OpenAI</a></td>
                <td>Machine Learning services</td>
                <td>United States</td>
            </tr>
            </tbody>
        </table>
        <p>When we bring on a new subprocessor who handles our Users&#39; Personal Information, or remove a subprocessor, or change how we use a subprocessor, we will update this page. If you have questions or concerns about a new subprocessor, we&#39;d be happy to help. Please contact us via email at <a href="mailto:privacy@aseriousbusiness.com">privacy@aseriousbusiness.com</a>.</p>
    </round-box>
</page-body>
