@page

@{
    Layout = "Shared/Layouts/_Layout";
    ViewContext.SetPageInfo("Policies", "Terms", "Terms of Service");
}

<page-header>
    Abbot Terms of Service
</page-header>
<page-body>
    <round-box class="flex flex-col gap-2">
        <p>Thank you for using Abbot! We&#39;re happy you&#39;re here. Please read this Terms of Service agreement carefully before accessing or using Abbot. Because it is such an important contract between us and our users, we have tried to make it as clear as possible. For your convenience, we have presented these terms in a short non-binding summary followed by the full legal terms.</p>
        <h2 class="font-semibold text-xl mt-4" id="summary">Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>What can you find there?</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#a-definitions">A. Definitions</a>
                </td>
                <td>Some basic terms, defined in a way that will help you understand this agreement. Refer back up to this section for clarification.</td>
            </tr>
            <tr>
                <td>
                    <a href="#b-account-terms">B. Account Terms</a>
                </td>
                <td>These are the basic requirements of having an Account on Abbot.</td>
            </tr>
            <tr>
                <td>
                    <a href="#c-acceptable-use">C. Acceptable Use</a>
                </td>
                <td>These are the basic rules you must follow when using your Abbot Account.</td>
            </tr>
            <tr>
                <td>
                    <a href="#d-user-generated-content">D. User-Generated Content</a>
                </td>
                <td>You own the content you post on Abbot. However, you have some responsibilities regarding it, and we ask you to grant us some rights so we can provide services to you.</td>
            </tr>
            <tr>
                <td>
                    <a href="#e-omitted">E. Omitted</a>
                </td>
                <td>This section has been intentionally omitted.</td>
            </tr>
            <tr>
                <td>
                    <a href="#f-intellectual-property-notice">F. Intellectual Property Notice</a>
                </td>
                <td>This describes A Serious Business, Inc.&#39;s rights in the website and service.</td>
            </tr>
            <tr>
                <td>
                    <a href="#g-api-terms">G. API Terms</a>
                </td>
                <td>These are the rules for using Abbot&#39;s APIs, whether you are using the API for development or data collection.</td>
            </tr>
            <tr>
                <td>
                    <a href="#h-payment">H. Payment</a>
                </td>
                <td>You are responsible for payment. We are responsible for billing you accurately.</td>
            </tr>
            <tr>
                <td>
                    <a href="#i-cancellation-and-termination">I. Cancellation and Termination</a>
                </td>
                <td>You may cancel this agreement and close your Account at any time.</td>
            </tr>
            <tr>
                <td>
                    <a href="#j-communications-with-a-serious-business-inc">J. Communications with A Serious Business, Inc.</a>
                </td>
                <td>We only use email and other electronic means to stay in touch with our users. We do not provide phone support.</td>
            </tr>
            <tr>
                <td>
                    <a href="#k-disclaimer-of-warranties">K. Disclaimer of Warranties</a>
                </td>
                <td>We provide our service as is, and we make no promises or guarantees about this service. <strong>Please read this section carefully; you should understand what to expect.</strong></td>
            </tr>
            <tr>
                <td>
                    <a href="#l-limitation-of-liability">L. Limitation of Liability</a>
                </td>
                <td>We will not be liable for damages or losses arising from your use or inability to use the service or otherwise arising under this agreement. <strong>Please read this section carefully; it limits our obligations to you.</strong></td>
            </tr>
            <tr>
                <td>
                    <a href="#m-release-and-indemnification">M. Release and Indemnification</a>
                </td>
                <td>You are fully responsible for your use of the service.</td>
            </tr>
            <tr>
                <td>
                    <a href="#n-changes-to-these-terms">N. Changes to these Terms of Service</a>
                </td>
                <td>We may modify this agreement, but we will give you 30 days&#39; notice of changes that affect your rights.</td>
            </tr>
            <tr>
                <td>
                    <a href="#o-miscellaneous">O. Miscellaneous</a>
                </td>
                <td>Please see this section for legal details including our choice of law.</td>
            </tr>
            </tbody>
        </table>
        <h2 class="font-semibold text-xl mt-4" id="the-abbot-terms-of-service">The Abbot Terms of Service</h2>
        <p>Effective date: August 3, 2020</p>
        <h3 class="font-semibold text-lg mt-4" id="a-definitions">A. Definitions</h3>
        <p>
            <strong>Short version:</strong> <em>We use these basic terms throughout the agreement, and they have specific meanings. You should know what we mean when we use each of the terms. There&#39;s not going to be a test on it, but it&#39;s still useful information.</em>
        </p>
        <ol class="list-decimal list-inside">
            <li>The “Agreement” refers, collectively, to all the terms, conditions, notices contained or referenced in this document (the “Terms of Service” or the &quot;Terms&quot;) and all other operating rules, policies (including the A Serious Business, Inc. Privacy Statement, available at <a asp-page="../Privacy/Index">@Url.Page("../Privacy/Index", null, null, Request.Scheme, Request.Host.ToString(), null)</a>) and procedures that we may publish from time to time on the Website. Most of our site policies are available at <a asp-page="../Index">@Url.Page("../Index", null, null, Request.Scheme, Request.Host.ToString(), null)</a>.</li>
            <li>The “Service” refers to the applications, software, products, and services provided by A Serious Business, Inc. under the Abbot name.</li>
            <li>The “Website” refers to A Serious Business, Inc.&#39;s websites located at <a href="https://ab.bot/">ab.bot</a>, and all content, services, and products provided by A Serious Business, Inc. at or through the Website. It also refers to all subdomains of ab.bot. Occasionally, websites owned by A Serious Business, Inc. may provide different or additional terms of service. If those additional terms conflict with this Agreement, the more specific terms apply to the relevant page or service.</li>
            <li>&quot;Customer&quot; means the company or organization that has entered into the <a asp-page="Corporate">Corporate Terms of Service Agreement</a> with A Serious Business, Inc..</li>
            <li>A &quot;Team&quot; means a single tenant of Abbot that may be associated with a Customer. Users associated to the Customer can post messages and comments to a Board.</li>
            <li>“The User,” “You,” and “Your” refer to the individual person, company, or organization that has visited or is using the Website or Service; that accesses or uses any part of the Account; or that directs the use of the Account in the performance of its functions. A User must be at least 13 years of age. Users are members of a Customer&#39;s Board.</li>
            <li>A Serious Business, Inc.,” “We,” and “Us” refer to A Serious Business, Inc., as well as our affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.</li>
            <li>“Content” refers to content featured or displayed through the Website, including without limitation text, data, articles, images, photographs, graphics, software, applications, designs, features, and other materials that are available on the Website or otherwise available through the Service. &quot;Content&quot; also includes Services. “User-Generated Content” is Content, written or otherwise, created or uploaded by our Users. &quot;Your Content&quot; is Content that you create or own.</li>
            <li>An &quot;Account&quot; represents your legal relationship with A Serious Business, Inc.. A “User Account” represents an individual User’s authorization to log in to and use the Service and serves as a User’s identity on Abbot.</li>
        </ol>
        <h3 class="font-semibold text-lg mt-4" id="b-account-terms">B. Account Terms</h3>
        <p>
            <strong>Short version:</strong> <em>User Accounts and Customer Accounts have different administrative controls; a human must create your Account; you must be 13 or over; you must provide a valid email address; and you may not have more than one Account per Board. You are responsible for your Account and anything that happens while you are signed in to or using your Account. You are responsible for keeping your Account secure.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-account-controls">1. Account Controls</h4>
        <ul class="list-disc list-inside">
            <li>Users. Subject to these Terms, you retain ultimate administrative control over your User Account and the Content within it.</li>
            <li>Customers. The &quot;owner&quot; of a Board that was created under these Terms has ultimate administrative control over that Board and the Content within it. Within the Service, an owner can manage User access to a Board. A Board may have multiple owners, but there must be at least one User Account designated as an owner of a Board. If you are the owner of a Board under these Terms, we consider you responsible for the actions that are performed on or through that Board, even by other Users who have their own Accounts as members of your Board.</li>
        </ul>
        <h4 class="font-semibold mt-4" id="2-required-information">2. Required Information</h4>
        <p>You must provide a valid email address in order to complete the signup process. Any other information requested, such as your real name, is optional, unless you are accepting these terms on behalf of a legal entity (in which case we need more information about the legal entity) or if you opt for a <a href="#h-payment">paid Account</a>, in which case additional information will be necessary for billing purposes.</p>
        <h4 class="font-semibold mt-4" id="3-account-requirements">3. Account Requirements</h4>
        <p>We have a few simple rules for User Accounts on the Abbot Service.</p>
        <ul class="list-disc list-inside">
            <li>You must be a human to create an Account. Accounts registered by &quot;bots&quot; or other automated methods are not permitted.</li>
            <li>One person or legal entity may maintain no more than one Abbot per Slack workspace.</li>
            <li>You must be age 13 or older. If we learn of any User under the age of 13, we will <a href="#i-cancellation-and-termination">terminate that User’s Account immediately</a>. If you are a resident of a country outside the United States, your country’s minimum age may be older; in such a case, you are responsible for complying with your country’s laws.</li>
            <li>Your login may only be used by one person — i.e., a single login may not be shared by multiple people. A paid Board may only provide access to as many User Accounts as your subscription allows.</li>
            <li>You may not use Abbot in violation of export control or sanctions laws of the United States or any other applicable jurisdiction. You may not use A Serious Business, Inc. if you are or are working on behalf of a <a href="https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/default.aspx">Specially Designated National (SDN)</a> or a person subject to similar blocking or denied party prohibitions administered by a U.S. government agency.</li>
        </ul>
        <h4 class="font-semibold mt-4" id="4-user-account-security">4. User Account Security</h4>
        <p>You are responsible for keeping your Account secure while you use our Service.</p>
        <ul class="list-disc list-inside">
            <li>You are responsible for all content posted and activity that occurs under your Account (even when content is posted by others who have Accounts under your Account).</li>
            <li>You are responsible for maintaining the security of your Account. A Serious Business, Inc. cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
            <li>You will promptly <a href="mailto:suppoort@aseriousbusiness.com">notify A Serious Business, Inc.</a> if you become aware of any unauthorized use of, or access to, our Service through your Account, including any unauthorized use of your password or Account.</li>
        </ul>
        <h4 class="font-semibold mt-4" id="5-additional-terms">5. Additional Terms</h4>
        <p>In some situations, third parties&#39; terms may apply to your use of Ab.ot. For example, you may be a member of a Team on Abbot with its own terms or license agreement. Please be aware that while these Terms are our full agreement with you, other parties&#39; terms govern their relationships with you.</p>
        <h3 class="font-semibold text-lg mt-4" id="c-acceptable-use">C. Acceptable Use</h3>
        <p>
            <strong>Short version:</strong> <em>While using the service, you must follow the terms of this section, which include some restrictions on content you can post, conduct on the service, and other limitations. In short, be excellent to each other.</em>
        </p>
        <p>Your use of the Website and Service must not violate any applicable laws, including copyright or trademark laws, export control or sanctions laws, or other laws in your jurisdiction. You are responsible for making sure that your use of the Service is in compliance with laws and any applicable regulations.</p>
        <p>You agree that you will not under any circumstances violate our <a asp-page="../AcceptableUse">Acceptable Use Policies</a>.</p>
        <h3 class="font-semibold text-lg mt-4" id="d-user-generated-content">D. User-Generated Content</h3>
        <p>
            <strong>Short version:</strong> <em>You own content you create, but you allow us certain rights to it, so that we can display and share the content you post to other members of your Board. You still have control over your content, and responsibility for it, and the rights you grant us are limited to those we need to provide the service. We have the right to remove content or close Accounts if we need to.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-responsibility-for-user-generated-content">1. Responsibility for User-Generated Content</h4>
        <p>You may create or upload User-Generated Content while using the Service. You are solely responsible for the content of, and for any harm resulting from, any User-Generated Content that you post, upload, link to or otherwise make available via the Service, regardless of the form of that Content. We are not responsible for any public display or misuse of your User-Generated Content.</p>
        <h4 class="font-semibold mt-4" id="2-a-serious-business-inc-may-remove-content">2. A Serious Business, Inc. May Remove Content</h4>
        <p>We do not pre-screen User-Generated Content, but we have the right (though not the obligation) to refuse or remove any User-Generated Content that, in our sole discretion, violates any A Serious Business, Inc. terms or policies.</p>
        <h4 class="font-semibold mt-4" id="3-ownership-of-content-right-to-post-and-license-grants">3. Ownership of Content, Right to Post, and License Grants</h4>
        <p>You retain ownership of and responsibility for Your Content. Users posting content to a company (Customer) owned Board may have ownership of that content subject to the company&#39;s own IP policies. If you&#39;re posting anything you did not create yourself or do not own the rights to, you agree that you are responsible for any Content you post; that you will only submit Content that you have the right to post; and that you will fully comply with any third party licenses relating to Content you post.</p>
        <p>Because you retain ownership of and responsibility for Your Content, we need you to grant us — and other Abbot Users — certain legal permissions, listed in Sections D.4 — D.7. These license grants apply to Your Content. If you upload Content that already comes with a license granting A Serious Business, Inc. the permissions we need to run our Service, no additional license is required. You understand that you will not receive any payment for any of the rights granted in Sections D.4 — D.7. The licenses you grant to us will end when you remove Your Content from our servers.</p>
        <h4 class="font-semibold mt-4" id="4-license-grant-to-us">4. License Grant to Us</h4>
        <p>We need the legal right to do things like host Your Content, publish it, and share it. You grant us and our legal successors the right to store, parse, and display Your Content, and make incidental copies as necessary to render the Website and provide the Service. This includes the right to do things like copy it to our database and make backups; show it to you and other users; parse it into a search index or otherwise analyze it on our servers; share it with other users; and perform it, in case Your Content is something like music or video.</p>
        <p>This license does not grant A Serious Business, Inc. the right to sell Your Content or otherwise distribute or use it outside of our provision of the Service.</p>
        <h4 class="font-semibold mt-4" id="5-moral-rights">5. Moral Rights</h4>
        <p>You retain all moral rights to Your Content that you upload, publish, or submit to any part of the Service, including the rights of integrity and attribution. However, you waive these rights and agree not to assert them against us, to enable us to reasonably exercise the rights granted in <a href="#4-license-grant-to-us">SectionD.4</a>, but not otherwise.</p>
        <p>To the extent this agreement is not enforceable by applicable law, you grant A Serious Business, Inc. the rights we need to use Your Content without attribution and to make reasonable adaptations of Your Content as necessary to render the Website and provide the Service.</p>
        <h3 class="font-semibold text-lg mt-4" id="e-omitted">E. Omitted</h3>
        <p>This section has been intentionally omitted. </p>
        <h3 class="font-semibold text-lg mt-4" id="f-intellectual-property-notice">F. Intellectual Property Notice</h3>
        <p>
            <strong>Short version:</strong> <em>We own the service and all of our content. In order for you to use our content, we give you certain rights to it, but you may only use our content in the way we have allowed.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-a-serious-business-inc-s-rights-to-content">1. A Serious Business, Inc.&#39;s Rights to Content</h4>
        <p>A Serious Business, Inc. and our licensors, vendors, agents, and/or our content providers retain ownership of all intellectual property rights of any kind related to the Website and Service. We reserve all rights that are not expressly granted to you under this Agreement or by law. The look and feel of the Website and Service is copyright © A Serious Business, Inc.. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from A Serious Business, Inc..</p>
        <h4 class="font-semibold mt-4" id="3-license-to-a-serious-business-inc-policies">3. License to A Serious Business, Inc. Policies</h4>
        <p>This Agreement is licensed under this <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero license</a>.</p>
        <h3 class="font-semibold text-lg mt-4" id="g-api-terms">G. API Terms</h3>
        <p>
            <strong>Short version:</strong> <em>You agree to these Terms of Service, plus this Section G, when using any of Abbot&#39;s APIs (Application Provider Interface), including use of the API through a third party product that accesses Abbot.</em>
        </p>
        <h4 class="font-semibold mt-4" id="no-abuse-or-overuse-of-the-api">No Abuse or Overuse of the API</h4>
        <p>Abuse or excessively frequent requests to Abbot via the API may result in the temporary or permanent suspension of your Account&#39;s access to the API. A Serious Business, Inc., in our sole discretion, will determine abuse or excessive usage of the API. We will make a reasonable attempt to warn you via email prior to suspension.</p>
        <p>You may not share API tokens to exceed A Serious Business, Inc.&#39;s rate limitations.</p>
        <p>You may not use the API to download data or Content from A Serious Business, Inc. for spamming purposes, including for the purposes of selling Abbot users&#39; personal information, such as to recruiters, headhunters, and job boards.</p>
        <p>All use of the Abbot API is subject to these Terms of Service and the <a asp-page="../Privacy/Index">A Serious Business, Inc. Privacy Statement</a>.</p>
        <p>A Serious Business, Inc. may offer subscription-based access to our API for those Users who require high-throughput access or access that would result in resale of A Serious Business, Inc.&#39;s Service.</p>
        <h3 class="font-semibold text-lg mt-4" id="h-payment">H. Payment</h3>
        <p>
            <strong>Short version:</strong> <em>You are responsible for any fees associated with your use of Abbot. We are responsible for communicating those fees to you clearly and accurately, and letting you know well in advance if those prices change.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-pricing">1. Pricing</h4>
        <p>Our pricing and payment terms are available at <a href="https://ab.bot/pricing">ab.bot/pricing</a>. If you agree to a subscription price, that will remain your price for the duration of the payment term; however, prices are subject to change at the end of a payment term.</p>
        <h4 class="font-semibold mt-4" id="2-upgrades-downgrades-and-changes">2. Upgrades, Downgrades, and Changes</h4>
        <ul class="list-disc list-inside">
            <li>We will immediately bill you when you upgrade from the trial plan to any paying plan.</li>
            <li>If you change from a monthly billing plan to a yearly billing plan, A Serious Business, Inc. will bill you for a full year at the next monthly billing date.</li>
            <li>If you upgrade to a higher level of service, we will bill you for the upgraded plan immediately.</li>
            <li>You may change your level of service at any time via the Billing settings for your Team. If you choose to downgrade your Account, you may lose access to Content, features, or capacity of your Account. Please see our section on <a href="#i-cancellation-and-termination">Cancellation</a> for information on getting a copy of that Content.</li>
        </ul>
        <h4 class="font-semibold mt-4" id="3-billing-schedule-no-refunds">3. Billing Schedule; No Refunds</h4>
        <ul class="list-disc list-inside">
            <li>For monthly or yearly payment plans, the Service is billed in advance on a monthly or yearly basis respectively and is non-refundable. There will be no refunds or credits for partial months of service, downgrade refunds, or refunds for months unused with an open Account; however, the service will remain active for the length of the paid billing period.</li>
            <li>In order to treat everyone equally, no exceptions will be made.</li>
        </ul>
        <h4 class="font-semibold mt-4" id="4-authorization">4. Authorization</h4>
        <p>By agreeing to these Terms, you are giving us permission to charge your on-file credit card, PayPal account, or other approved methods of payment for fees that you authorize for Abbot.</p>
        <h4 class="font-semibold mt-4" id="5-responsibility-for-payment">5. Responsibility for Payment</h4>
        <p>You are responsible for all fees, including taxes, associated with your use of the Service. By using the Service, you agree to pay A Serious Business, Inc. any charge incurred in connection with your use of the Service. If you dispute the matter, contact <a href="mailto:support@aseriousbusiness.com">Abbot Support</a>. You are responsible for providing us with a valid means of payment for paid Accounts. Trial Accounts are not required to provide payment information.</p>
        <h3 class="font-semibold text-lg mt-4" id="i-cancellation-and-termination">I. Cancellation and Termination</h3>
        <p>
            <strong>Short version:</strong> <em>You may close your Account at any time. If you do, we&#39;ll treat your information responsibly.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-account-cancellation">1. Account Cancellation</h4>
        <p>It is your responsibility to properly cancel your Account with A Serious Business, Inc.. You can cancel your Account at any time by going into your Organization Settings in the global navigation bar at the left of the screen. The Billing screen provides a simple, no questions asked cancellation link.</p>
        <h4 class="font-semibold mt-4" id="2-upon-cancellation">2. Upon Cancellation</h4>
        <p>We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full profile within 90 days of cancellation or termination (though some information may remain in encrypted backups). This information can not be recovered once your Account is cancelled.</p>
        <p>We will not delete Content that you have contributed to any Teams.</p>
        <p>Upon request, we will make a reasonable effort to provide an Account owner with a copy of your lawful, non-infringing Account contents after Account cancellation, termination, or downgrade. You must make this request within 90 days of cancellation, termination, or downgrade.</p>
        <h4 class="font-semibold mt-4" id="3-a-serious-business-inc-may-terminate">3. A Serious Business, Inc. May Terminate</h4>
        <p>A Serious Business, Inc. has the right to suspend or terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. A Serious Business, Inc. reserves the right to refuse service to anyone for any reason at any time.</p>
        <h4 class="font-semibold mt-4" id="4-survival">4. Survival</h4>
        <p>All provisions of this Agreement which, by their nature, should survive termination <em>will</em> survive termination — including, without limitation: ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
        <h3 class="font-semibold text-lg mt-4" id="j-communications-with-a-serious-business-inc-">J. Communications with A Serious Business, Inc.</h3>
        <p>
            <strong>Short version:</strong> <em>We use email and other electronic means to stay in touch with our users.</em>
        </p>
        <h4 class="font-semibold mt-4" id="1-electronic-communication-required">1. Electronic Communication Required</h4>
        <p>For contractual purposes, you (1) consent to receive communications from us in an electronic form via the email address you have submitted or via the Service; and (2) agree that all Terms of Service, agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that those communications would satisfy if they were on paper. This section does not affect your non-waivable rights.</p>
        <h4 class="font-semibold mt-4" id="2-legal-notice-to-a-serious-business-inc-must-be-in-writing">2. Legal Notice to A Serious Business, Inc. Must Be in Writing</h4>
        <p>Communications made through email will not constitute legal notice to A Serious Business, Inc. or any of its officers, employees, agents or representatives in any situation where notice to A Serious Business, Inc. is required by contract or any law or regulation. Legal notice to A Serious Business, Inc. must be in writing and served on A Serious Business, Inc.&#39;s legal agent. To obtain contact information for A Serious Business, Inc.&#39;s legal agent, email <a href="mailto:support@aseriousbusiness.com">support@aseriousbusiness.com</a>.</p>
        <h4 class="font-semibold mt-4" id="3-no-phone-support">3. No Phone Support</h4>
        <p>A Serious Business, Inc. only offers support via email, in-Service communications, and electronic messages. We do not offer telephone support.</p>
        <h3 class="font-semibold text-lg mt-4" id="k-disclaimer-of-warranties">K. Disclaimer of Warranties</h3>
        <p>
            <strong>Short version:</strong> <em>We provide our service as is, and we make no promises or guarantees about this service. Please read this section carefully; you should understand what to expect.</em>
        </p>
        <p>A Serious Business, Inc. provides the Website and the Service “as is” and “as available,” without warranty of any kind. Without limiting this, we expressly disclaim all warranties, whether express, implied or statutory, regarding the Website and the Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.</p>
        <p>A Serious Business, Inc. does not warrant that the Service will meet your requirements; that the Service will be uninterrupted, timely, secure, or error-free; that the information provided through the Service is accurate, reliable or correct; that any defects or errors will be corrected; that the Service will be available at any particular time or location; or that the Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Service.</p>
        <h3 class="font-semibold text-lg mt-4" id="l-limitation-of-liability">L. Limitation of Liability</h3>
        <p>
            <strong>Short version:</strong> <em>We will not be liable for damages or losses arising from your use or inability to use the service or otherwise arising under this agreement. Please read this section carefully; it limits our obligations to you.</em>
        </p>
        <p>You understand and agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from</p>
        <ul class="list-disc list-inside">
            <li>the use, disclosure, or display of your User-Generated Content;</li>
            <li>your use or inability to use the Service;</li>
            <li>any modification, price change, suspension or discontinuance of the Service;</li>
            <li>the Service generally or the software or systems that make the Service available;</li>
            <li>unauthorized access to or alterations of your transmissions or data;</li>
            <li>statements or conduct of any third party on the Service;</li>
            <li>any other user interactions that you input or receive through your use of the Service; or</li>
            <li>any other matter relating to the Service.</li>
        </ul>
        <p>Our liability is limited whether or not we have been informed of the possibility of such damages, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control.</p>
        <h3 class="font-semibold text-lg mt-4" id="m-release-and-indemnification">M. Release and Indemnification</h3>
        <p>
            <strong>Short version:</strong> <em>You are responsible for your use of the service. If you harm someone else or get into a dispute with someone else, we will not be involved.</em>
        </p>
        <p>If you have a dispute with one or more Users, you agree to release A Serious Business, Inc. from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.</p>
        <p>You agree to indemnify us, defend us, and hold us harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of the Website and the Service, including but not limited to your violation of this Agreement, provided that A Serious Business, Inc. (1) promptly gives you written notice of the claim, demand, suit or proceeding; (2) gives you sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that you may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases A Serious Business, Inc. of all liability); and (3) provides to you all reasonable assistance, at your expense.</p>
        <h3 class="font-semibold text-lg mt-4" id="n-changes-to-these-terms">N. Changes to These Terms</h3>
        <p>
            <strong>Short version:</strong> <em>We want our users to be informed of important changes to our terms, but some changes aren&#39;t that important — we don&#39;t want to bother you every time we fix a typo. So while we may modify this agreement at any time, we will notify users of any changes that affect your rights and give you time to adjust to them.</em>
        </p>
        <p>We reserve the right, at our sole discretion, to amend these Terms of Service at any time and will update these Terms of Service in the event of any such amendments. We will notify our Users of material changes to this Agreement, such as price changes, at least 30 days prior to the change taking effect by posting a notice on our Website. For non-material modifications, your continued use of the Website constitutes agreement to our revisions of these Terms of Service.</p>
        <p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part of it) with or without notice.</p>
        <h3 class="font-semibold text-lg mt-4" id="o-miscellaneous">O. Miscellaneous</h3>
        <h4 class="font-semibold mt-4" id="1-governing-law">1. Governing Law</h4>
        <p>Except to the extent applicable law provides otherwise, this Agreement between you and A Serious Business, Inc. and any access to or use of the Website or the Service are governed by the federal laws of the United States of America and the laws of the State of Washington, without regard to conflict of law provisions. You and A Serious Business, Inc. agree to submit to the exclusive jurisdiction and venue of the courts located in the City of Bellevue in King County Washington.</p>
        <h4 class="font-semibold mt-4" id="2-non-assignability">2. Non-Assignability</h4>
        <p>A Serious Business, Inc. may assign or delegate these Terms of Service and/or the <a asp-page="../Privacy/Index">A Serious Business, Inc. Privacy Statement</a>, in whole or in part, to any person or entity at any time with or without your consent, including the license grant in <a href="#4-license-grant-to-us">Section D.4</a>. You may not assign or delegate any rights or obligations under the Terms of Service or Privacy Statement without our prior written consent, and any unauthorized assignment and delegation by you is void.</p>
        <h4 class="font-semibold mt-4" id="3-section-headings-and-summaries">3. Section Headings and Summaries</h4>
        <p>Throughout this Agreement, each section includes titles and brief summaries of the following terms and conditions. These section titles and brief summaries are not legally binding.</p>
        <h3 class="font-semibold text-lg mt-4" id="4-severability-no-waiver-and-survival">4. Severability, No Waiver, and Survival</h3>
        <p>If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of A Serious Business, Inc. to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.</p>
        <h4 class="font-semibold mt-4" id="5-amendments-complete-agreement">5. Amendments; Complete Agreement</h4>
        <p>This Agreement may only be modified by a written amendment signed by an authorized representative of A Serious Business, Inc., or by the posting by A Serious Business, Inc. of a revised version in accordance with <a href="#n-changes-to-these-terms">Section N. Changes to These Terms</a>. These Terms of Service, together with the A Serious Business, Inc. Privacy Statement, represent the complete and exclusive statement of the agreement between you and us. This Agreement supersedes any proposal or prior agreement oral or written, and any other communications between you and A Serious Business, Inc. relating to the subject matter of these terms including any confidentiality or nondisclosure agreements.</p>
        <h4 class="font-semibold mt-4" id="6-questions">6. Questions</h4>
        <p>Questions about the Terms of Service? <a href="mailto:support@aseriousbusiness.com">Contact us</a>.</p>
    </round-box>
</page-body>
