<nav class="sm:grid grid-cols-4 gap-4 my-2">
    <ul class="col-span-3 flex text-sm my-2">
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Skills/Index" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-solid fa-gear-code"></i> Runners
            </a>
        </li>
        <li class="mr-2 flex-shrink-0">
            <a asp-page="/Staff/Skills/Search" class="tabnav-btn" nav-exact-match nav-active-class="tabnav-btn-active">
                <i class="fa-solid fa-magnifying-glass"></i> Search
            </a>
        </li>
    </ul>
</nav>
